/*
* Redmine plugin for Document Management System "Features"
*
* Copyright Anton Argirov
* Copyright Karel Pičman <karel.picman@kontron.com>
*
* This program is free software; you can redistribute it and/or
* modify it under the terms of the GNU General Public License
* as published by the Free Software Foundation; either version 2
* of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*/

#tab-content-custom_workflows .disabled {
    color: silver;
}

table.list.custom-workflows td {
    vertical-align: middle;
}

table.list.custom-workflows td.description {
    text-align: left;
    width: 40%;
}

table.list.custom-workflows td.buttons {
    white-space: normal;
    width: 10%;
    text-align: left;
}

table.list.custom-workflows tr.disabled {
    color: silver;
}

#custom_workflow_description, #custom_workflow_name {
    width: 98%;
}

.custom_workflow_script {
    width: 98%;
    font-size: 11px;
}

#custom_workflow_enabled_projects ul.root {
    max-height: 400px;
    overflow-y: auto;
}

/* Icons */
.icon-import {
    background-image: url(../images/export.png);
}

.icon-export {
    background-image: url(../images/import.png);
}
