/*
* Redmine plugin for Document Management System "Features"
*
* Copyright © 2015-19 Anton Argirov
* Copyright © 2019-23 Karel Pičman <karel.picman@kontron.com>
*
* This program is free software; you can redistribute it and/or
* modify it under the terms of the GNU General Public License
* as published by the Free Software Foundation; either version 2
* of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*/

#tab-content-custom_workflows .disabled {
    color: silver;
}

table.list.custom-workflows tr.disabled {
    color: silver;
}

#custom_workflow_enabled_projects ul.root {
    max-height: 400px;
    overflow-y: auto;
}

.custom-workflow-hidden {
    display: none;
}

.custom-workflow-info {
    text-align: justify;
    margin-bottom: 1em;
}

div#custom_workflow_scripts label {
    font-weight: normal;
    text-align: left;
    margin-left: 0;
    width: auto;
}