#admin-menu a.custom-workflows {
    background-image: url(../../../images/ticket_go.png);
}

#tab-content-custom_workflows .disabled {
    color: silver;
}

table.list.custom-workflows td {
    vertical-align: middle;
}

table.list.custom-workflows td.description {
    text-align: left;
}

table.list.custom-workflows tr.disabled {
    color: silver;
}

#custom_workflow_description, #custom_workflow_name {
    width: 98%;
}

#custom_workflow_before_save, #custom_workflow_after_save {
    width: 98%;
    font-size: 11px;
}

#custom_workflow_enabled_projects ul {
    max-height: 200px;
    overflow-y: auto;
}

.icon-export { background-image: url(../images/export.png); }
.icon-import { background-image: url(../images/import.png); }
.icon-active { background-image: url(../images/active.png); }
.icon-inactive { background-image: url(../images/inactive.png); }
