<fieldset class="collapsible <%= collapsed ? 'collapsed' : '' %>">
  <legend onclick="toggleFieldset(this);"><%= label %></legend>
  <div style="<%= collapsed ? 'display: none' : '' %>">
      <%= yield %>
  </div>
</fieldset>
